.nav{
    background-color: var(--bg-nv);
    width: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    user-select: none;
    z-index: 1000;
}

.nav:hover{
    width: 300px;
}

.nav:hover .icon-nav{
    padding:  0px 10px;
    width: 250px; 
}
.icon-text-nav{
    opacity: 0;
    transition: width 0.5s ease;
    display: none;
    font-size: 0px;
}
.nav:hover .icon-text-nav{
    width: 200px;
    opacity: 1;
    display: initial;
    font-size: 24px;
}


.icons-nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.icon-nav{
    display: flex;
    color: var(--txt);
    font-size: 40px;
    background-color: var(--bg-bx);
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    gap: 15px;
}

#TrayectoriaNav{
    transition: background-color 0.7s ease;
}

#TrayectoriaNav:hover{
    background-color: var(--bl);
}

#ProyectosNav{
    transition: background-color 0.7s ease;
}

#ProyectosNav:hover{
    background-color: var(--gr);
}

#HabilidadesNav{
    transition: background-color 0.7s ease;
}

#HabilidadesNav:hover{
    background-color: var(--ci);
}